/* ///////////////////////// Мобильные устройства ///////////////////////// */


@media screen and (min-width: 650px) and (max-width: 768px) {
    .middle_circle {
        width: 120vw;
        height: 120vw;
        top: 13vw;
    }
    
    .small_rectangle {
        width: 75vw;
        height: 75vw;
    }
    
    .small_cicle {
        width: 75vw;
        height: 75vw;
    }
    
    .warning_text_container {
        width: 80vw;
        height: 76vw;
        margin: 17vw 0px 0px 10vw;
    }

    .ready {
        font-size: 5vw;
    }
    
    .warning_text {
        width: 66vw;
        height: 30vw;
        font-size: 40px;
    }
    
    @media (max-width: 768px) {
        .modal_overlay {
          width: 80vw;
          padding: 5vw;
        }
        
        .modal_content p {
          font-size: 3vw;
        }
        
        .close_button {
          width: 6vw;
          height: 6vw;
        }
        
        .close_button p {
          font-size: 4vw;
        }

        .first_screen {
            font-size: 8vw;
          }
      }

}

/* @media screen and (min-width: 415px) and (max-width: 649px) {
    .modal_overlay {
        width: 73vw;
        height: 88vw;
        top: 11vw;
        left: 15vw;
    }
    
    .modal_content {
        padding: 0vw;
        width: 62vw;
        height: 82vw;
    }
    
    .modal_content p {
        font-size: 4vw;
    }
    
    .close_button {
        width: 5vw;
        height: 5vw;
        margin: -53vw 0 0 60vw;
    }
    
    .close_button p {
        font-size: 4.5vw;
    }

    .quest_container {
        margin-top: -8vw;
    }

    .question {
        margin: -27vw 0 0 2vw;
        font-size: 10vw;
        width: 13vw;
        border-radius: 30vw;
    }
} */

@media screen and (min-width: 415px) and (max-width: 651px) {
    .middle_circle {
        width: 120vw;
        height: 120vw;
        top: 13vw;
    }
    
    .small_rectangle {
        width: 75vw;
        height: 75vw;
    }
    
    .small_cicle {
        width: 75vw;
        height: 75vw;
    }
    
    .warning_text_container {
        width: 80vw;
        height: 100vw;
        margin: 17vw 0px 0px 10vw;
    }
    
    .warning_text {
        width: 75vw;
        height: 30vw;
        font-size: 4vw;
    }
    .first_screen {
        font-size: 6vw;
      }
    /* .quest_container {
        margin-top: -35vw;
    }

    .question {
        background-color: #ffffff;
        margin: -27vw 0 0 2vw;
        font-size: 21vw;
        width: 26vw;
        border-radius: 30vw;
    }
    
    .modal_overlay {
        width: 200vw;
        height: 240vw;
        top: 90vw;
        left: 65vw;
    }
    
    .modal_content {
        padding: 0vw;
        width: 172vw;
        height: 182vw;
    }
    
    .modal_content p {
        font-size: 10vw;
    }
    
    .close_button {
        width: 5vw;
        height: 5vw;
        margin: -53vw 0 0 60vw;
    }
    
    .close_button p {
        font-size: 4.5vw;
    } */

}

/* ///////////////////////// Маленькие экраны ///////////////////////// */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .middle_circle {
        width: 100vw;
        height: 100vw;
        top: 2vw;
    }
    
    .small_rectangle {
        width: 75vw;
        height: 75vw;
    }
    
    .small_cicle {
        width: 75vw;
        height: 75vw;
    }
    
    .warning_text_container {
        width: 80vw;
        height: 70vw;
        margin: 17vw 0px 0px 10vw;
    }
    
    .warning_text {
        width: 70vw;
        height: 30vw;
        font-size: 40px;
    }
    .first_screen {
        font-size: 6vw;
      }
    
    /* .quest_container {
        margin-top: -10vw;
    }

    .question {
        margin: -27vw 0 0 2vw;
        font-size: 6vw;
        width: 8vw;
        }
    
    .modal_overlay {
        width: 70vw;
        height: 60vw;
        top: 20vw;
        left: 38vw;
    }
    
    .modal_content {
        padding: 3vw;
        width: 62vw;
        height: 52vw;
    }
    
    .modal_content p {
        font-size: 3vw;
    }
    
    .close_button {
        width: 5vw;
        height: 5vw;
        margin: -53vw 0 0 60vw;
    }
    
    .close_button p {
        font-size: 4.5vw;
    } */


}


@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .middle_circle {
    width: 80vw;
    height: 80vw;
    top: -5vw;
}

.small_rectangle {
    width: 55vw;
    height: 55vw;
}

.small_cicle {
    width: 45vw;
    height: 45vw;
}

.warning_text_container {
    width: 70vw;
    height: 50vw;
    margin: 10vw 0px 0px 15vw;
}

.warning_text {
    width: 70vw;
    height: 30vw;
    font-size: 40px;
}
.first_screen {
    font-size: 8vw;
  }

/* .quest_container {
    margin-top: -5vw;
}

.modal_overlay {
    width: 60vw;
    height: 50vw;
    top: 15vw;
    left: 36vw;
}

.modal_content {
    padding: 3vw;
    width: 52vw;
    height: 42vw;
}

.modal_content p {
    font-size: 2.5vw;
}

.close_button {
    width: 4vw;
    height: 4vw;
    margin: -42vw 0 0 46vw;
}

.close_button p {
    font-size: 3.5vw;
} */

}
















